#photo_licence_supermarche {
    padding: 20px 20px 10px 20px;
}

#photo_licence_supermarche img:hover {
    width: 280px;
    height: 428px;
}

#photo_finales_departementales {
    display: flex;
    justify-content: center;
}

#photo_finales_departementales img {
    margin-bottom: 10px;
}

#Champ_France_indiv {
    display: flex;
    width: 60%;
    justify-content: center;
}

.separator{
    height: 2px;
    background-color: #ef850d;
    width: 60%;
    margin:10px auto;
}

.GR_France {
    display: flex;
}

.GR_photo1 {
    width: 20%;
    justify-content: right;
    margin-left: 15%;
    height: 140px;
}

.GR_texte2 {
    margin: auto;
    padding-top: 15px;
    width: 30%;
    text-align: center;
    justify-content: center;
    height: 140px;
    }

.GR_photo3 {
    width: 20%;
    margin-right: 15%;
    height: 140px;
}

#Champ_France_GAM {
    margin-right: 15px;
}

#texte_ker_crea {
    padding-left: 15px;
}

#Salle_Turpault_champignons_texte h3 {
    margin-top: 0;
}

#Salle_Turpault_champignons_photo {
    padding: 10px;
}

.accueil_cote_a_cote {
    display: flex;
}

nav {
    position: absolute;
    top: 250px;
    width: 100%;
    display: inline-block;
    justify-content: space-evenly;
}

.nav_button {
    background-color: #B1C900;
    width: 168px;
    height: 34px;
    text-align: center;
    color:#ffffff;
    align-content: center;
    border-radius: 5%;
    border-color: beige;
}

.nav_button a {
    text-decoration: none;
    color:#ffffff;
}

main {
    margin-left: 15px;
    margin-top: 330px;
}

header {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid #e91313;
}

table {
    border-collapse: collapse;
    margin-bottom: 15px;
}

tr, th {
    border: 1px solid black;
    width: 8vw;
    height: 4vh;
    font-weight: normal;
}

#carousel_container {
    position:absolute;
    top: 10px;
    left: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 4000px;
    height: 120px;
}

#carousel {
    display: inline-block;
    position: absolute;
    top: 15px;
    width: 4000px;
    height: 100px;
    overflow: hidden;
    background-color: #ffffff;
    animation: scroll-left 20s linear infinite;
    z-index: 0;
}

@keyframes scroll-left {
            0% {
                transform: translateX(100vw);
            }

            100% {
                transform: translateX(-4000px);
            }
        }


body:has(#carousel_container:hover) #carousel {
    animation-play-state: paused;
}

#patchwork_header {
    z-index: 2;
    width: 623px;
    position: absolute;
    left: 500px;
}

.logos {
    display: inline-block;
    white-space: nowrap;
    padding: 0px;
    margin: 0;
    
}

#bandeau_superieur {
    width: 100%;
    justify-content: center;
    position: absolute;
    left: 0;
    margin-bottom: 50px;
}

#MAJ {
    z-index: 2;
    position: absolute;
    right: 50px;
    top: 160px;
    width: 250px;
    height: 50px;
    background-color: #ffffff;
    text-align: center;
}

#logo_FFGym {
    z-index: 2;
    position: absolute;
    right: 600px;
    top: 160px;
    width: 100px;
    height: 50px;
}

#logo_label_BabyGym {
    z-index: 2;
    position: absolute;
    right: 500px;
    top: 140px;
    width: 80px;
    height: 80px;
}

#Facebook_link {
    z-index: 2;
    position: absolute;
    right: 400px;
    top: 140px;
    width: 80px;
    height: 80px;
}

#Instagram_link {
    z-index: 2;
    position: absolute;
    right: 300px;
    top: 140px;
    width: 80px;
    height: 80px;
}

#logo_club {
    z-index: 2;
    position: absolute;
    left: 0;
}

#page_name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 380px;
    height: 70px;
    top: 160px;
    left:5px;
    background-color: #009DE0;
    color: #ffffff;
}

.presentation_du_club {
    align-items: center;
}

.club_texte {
    padding-right: 30px;
    width: 80%;
}

.club_video_link {
    width: 20%;
    text-align: center;
}

h3 {
    color: #ef850d;
}

h4 {
    color: #B1C900;
}

.h3_no_top_margin {
    margin-top: 0;
}

.article {
    border-left: 2px solid #ef850d;
    border-width: 50%;
    border-bottom: 2px solid #ef850d;
    padding-left: 10px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}

.link_back_to_top, #link_to_mentions_legales {
    padding-top: 20px;
    text-align: center;
}

footer {
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 2px solid #ef850d;
    text-align: center;
}

#map_salles li{
    margin-bottom: 10px;
}

#a_savoir_avant_l_inscription h4 {
    margin-bottom: 5px;
}

#a_savoir_avant_l_inscription p {
    margin-top: 5px;
}

#modalites_inscription li {
    margin-bottom: 5px;
}

#tarifs_2025_2026 td {
    padding-right: 20px;
    padding-left: 20px;
}

